.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    animation: fadeIn 0.5s ease;
}
.container {
    max-width: 90%; /* Adjusted for mobile */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .container {
      max-width: 100%; /* Full width on smaller screens */
      padding: 10px; /* Adjusted padding for smaller screens */
    }
  }
  

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-label {
    margin-bottom: 5px;
    color: #555;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: dodgerblue;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #007acc;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
